<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to our website !</h1>
    <br>
    <br>
    <br>
    <br>
    <div class="register" style="text-align: center;">
        <a href="register">Register</a>
    </div>
    <br>
    <br>
    <div class="login" style="text-align: center;">
        <a href="login">Login</a>
    </div>
</body>
</html>